* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
      font-size: 80px;
  }

  h2 {
      font-size: 40px;
  }

  .container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
  }

  .flex-column {
      display: flex;
      flex-direction: column;
  }

  .flex-center{
      justify-content: center;
      align-items: center;
  }

  .justify-center {
      justify-content: center;
  }

  .text-center {
      text-align: center;
  }

  .hidden {
      display: none;
  }

  .btn {
      display: flex;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      color: black;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
  }