* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
      font-size: 80px;
  }

  h2 {
      font-size: 40px;
  }

  .container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
  }

  .flex-column {
      display: flex;
      flex-direction: column;
  }

  .flex-center{
      justify-content: center;
      align-items: center;
  }

  .justify-center {
      justify-content: center;
  }

  .text-center {
      text-align: center;
  }

  .hidden {
      display: none;
  }

  .btn {
      display: flex;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      color: black;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
  }

  /* End page */

  .end-form-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 30rem;
  }

  input{
      margin-bottom: 1rem;
      width: 20rem;
      padding: 1.5rem;
      font-size: 1.8rem;
      border: none;
      box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  }

  input::placeholder{
      color: gray;
  }

  #username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
  }

  #end-text {
      font-size: 2.4rem;
      color: rgb(0, 0, 0);
      text-align: center;
  }

  #saveScoreBtn {
      border: none;
  }

  #fa-home {
      margin-left: 1rem;
      font-size: 2rem;
      color: rgb(28, 26, 26);
  }